#Home, #Skills-Edu, #Experience, #Projects {
    min-height: 100vh;
}

#hero2{
    position: relative;
    top: 7rem;
}

@media only screen and (min-width: 600px) {
    body{
        padding-top: 0px;
        margin-top: 0;
    }

    #hero2{
        top: 12rem;
    }
  }

#Qualifications, #Experience, #Projects {
    opacity: 0;
}
