@media only screen and (min-width: 600px) {
    body{
        padding-top: 65px;
    }
    #hero2{
        position: relative;
        top: 13rem;
    }
  }
  #Hero, #Skills-Edu, #Experience, #Projects {
    min-height: 100vh;
}
.body{
    position: relative;
}
#hero2{
    position: relative;
    top: 5rem;
}